In [1]:
import dask.dataframe as dd
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
data = dd.read_csv(r"D:\Downloads\COSC4427_dataset_project\COSC4427_dataset_project\*.csv",parse_dates=True, assume_missing=True)
data

Dask DataFrame Structure:
               Trip Duration Start Time Stop Time Start Station ID Start Station Name Start Station Latitude Start Station Longitude End Station ID End Station Name End Station Latitude End Station Longitude  Bike ID User Type Birth Year   Gender
npartitions=60
                     float64     object    object          float64             object                float64                 float64        float64           object              float64               float64  float64    object    float64  float64
                         ...        ...       ...              ...                ...                    ...                     ...            ...              ...                  ...                   ...      ...       ...        ...      ...
...                      ...        ...       ...              ...                ...                    ...                     ...            ...              ...                  ...                   ...      ...       ...        ...      ...
                         ...        ...       ...              ...                ...                    ...                     ...            ...              ...                  ...                   ...      ...       ...        ...      ...
                         ...        ...       ...              ...                ...                    ...                     ...            ...              ...                  ...                   ...      ...       ...        ...      ...
Dask Name: read-csv, 60 tasks

In [3]:
pdf = data.compute()

In [4]:
pdf.shape

(1638153, 15)

In [5]:
df = pdf.sample(frac =.60)

In [6]:
df.shape

(982892, 15)

In [7]:
df.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
13752,228.0,2020-07-12 17:34:54.6500,2020-07-12 17:38:43.2950,3481.0,York St,40.716490,-74.041050,3205.0,JC Medical Center,40.716540,-74.049638,44414.0,Subscriber,1975.0,1.0
31736,2211.0,2020-07-26 14:31:09.6710,2020-07-26 15:08:01.4770,3681.0,Grand St,40.715178,-74.037683,3639.0,Harborside,40.719252,-74.034234,42613.0,Subscriber,1993.0,2.0
16038,263.0,2019-11-15 06:49:48.9140,2019-11-15 06:54:12.0490,3678.0,Fairmount Ave,40.725726,-74.071959,3195.0,Sip Ave,40.730897,-74.063913,26156.0,Subscriber,1981.0,1.0
31145,277.0,2018-08-30 05:55:01.3900,2018-08-30 05:59:38.8990,3269.0,Brunswick & 6th,40.726012,-74.050389,3186.0,Grove St PATH,40.719586,-74.043117,26211.0,Subscriber,1958.0,1.0
17256,122.0,2018-10-10 16:03:45.9830,2018-10-10 16:05:48.3470,3203.0,Hamilton Park,40.727596,-74.044247,3272.0,Jersey & 3rd,40.723332,-74.045953,26431.0,Subscriber,1994.0,1.0

In [8]:
cdf = pdf.sample(frac = 0.01)

In [9]:
cdf.shape

(16382, 15)

In [10]:
from datetime import datetime

In [11]:
cdf['Start Time'] = pd.to_datetime(cdf['Start Time']).dt.date
cdf['Stop Time'] = pd.to_datetime(cdf['Stop Time']).dt.date

In [12]:
cdf.columns

Index(['Trip Duration', 'Start Time', 'Stop Time', 'Start Station ID',
       'Start Station Name', 'Start Station Latitude',
       'Start Station Longitude', 'End Station ID', 'End Station Name',
       'End Station Latitude', 'End Station Longitude', 'Bike ID', 'User Type',
       'Birth Year', 'Gender'],
      dtype='object')

In [ ]:
cdf.head()

In [13]:
cdf.drop(labels = ['End Station Latitude', 'End Station Longitude','Start Station ID',
                   'Start Station Latitude','Start Station Longitude', 'End Station ID','Bike ID'], axis = 1, inplace = True)

In [14]:
cdf['User Type'].value_counts()

Subscriber    14407
Customer       1970
Name: User Type, dtype: int64

In [15]:
cdf.drop(labels = ['Stop Time'], axis = 1, inplace = True)

In [16]:
cdf.columns

Index(['Trip Duration', 'Start Time', 'Start Station Name', 'End Station Name',
       'User Type', 'Birth Year', 'Gender'],
      dtype='object')

In [17]:
dumdf = pd.get_dummies(cdf, prefix='dum_',columns = ['Gender','User Type','Birth Year','Start Station Name'])

In [18]:
cdf

,Trip Duration,Start Time,Start Station Name,End Station Name,User Type,Birth Year,Gender
2125,262.0,2018-12-05,Grove St PATH,Hamilton Park,Subscriber,1973.0,1.0
24280,488.0,2016-08-23,Newport Pkwy,Grove St PATH,Subscriber,1987.0,2.0
29843,690.0,2019-09-19,Essex Light Rail,Brunswick & 6th,Subscriber,1978.0,1.0
504,238.0,2018-07-10,Exchange Place,Morris Canal,Subscriber,1990.0,1.0
3547,453.0,2016-07-06,Newport PATH,Paulus Hook,Subscriber,1977.0,1.0
...,...,...,...,...,...,...,...
2630,303.0,2020-12-06,Warren St,Newark Ave,Subscriber,1975.0,1.0
3308,168.0,2018-09-12,City Hall,Marin Light Rail,Subscriber,1988.0,1.0
22394,634.0,2020-02-28,Sip Ave,Astor Place,Subscriber,1976.0,1.0
25639,2722.0,2016-09-23,Warren St,Liberty Light Rail,Subscriber,1981.0,1.0
37231,906.0,2020-08-27,Dixon Mills,Paulus Hook,Subscriber,1981.0,1.0

In [19]:
dumdf.columns

Index(['Trip Duration', 'Start Time', 'End Station Name', 'dum__0.0',
       'dum__1.0', 'dum__2.0', 'dum__Customer', 'dum__Subscriber',
       'dum__1888.0', 'dum__1900.0',
       ...
       'dum__Paulus Hook', 'dum__Pershing Field', 'dum__Riverview Park',
       'dum__Sip Ave', 'dum__Union St', 'dum__Van Vorst Park',
       'dum__Warren St', 'dum__Washington St', 'dum__West Side Light Rail',
       'dum__York St'],
      dtype='object', length=133)

In [20]:
cdf['freq'] = cdf.groupby('Start Time')['Trip Duration'].transform('sum')
cdf

,Trip Duration,Start Time,Start Station Name,End Station Name,User Type,Birth Year,Gender,freq
2125,262.0,2018-12-05,Grove St PATH,Hamilton Park,Subscriber,1973.0,1.0,3957.0
24280,488.0,2016-08-23,Newport Pkwy,Grove St PATH,Subscriber,1987.0,2.0,5343.0
29843,690.0,2019-09-19,Essex Light Rail,Brunswick & 6th,Subscriber,1978.0,1.0,12261.0
504,238.0,2018-07-10,Exchange Place,Morris Canal,Subscriber,1990.0,1.0,6676.0
3547,453.0,2016-07-06,Newport PATH,Paulus Hook,Subscriber,1977.0,1.0,5344.0
...,...,...,...,...,...,...,...,...
2630,303.0,2020-12-06,Warren St,Newark Ave,Subscriber,1975.0,1.0,5951.0
3308,168.0,2018-09-12,City Hall,Marin Light Rail,Subscriber,1988.0,1.0,2908.0
22394,634.0,2020-02-28,Sip Ave,Astor Place,Subscriber,1976.0,1.0,3885.0
25639,2722.0,2016-09-23,Warren St,Liberty Light Rail,Subscriber,1981.0,1.0,8234.0
37231,906.0,2020-08-27,Dixon Mills,Paulus Hook,Subscriber,1981.0,1.0,33904.0

In [21]:
cdf.groupby('Start Time').size()

Start Time
2016-01-01    1
2016-01-02    3
2016-01-03    1
2016-01-05    4
2016-01-06    7
             ..
2020-12-27    3
2020-12-28    2
2020-12-29    1
2020-12-30    2
2020-12-31    3
Length: 1783, dtype: int64

In [22]:
sts = cdf['Start Time'].sort_values()
sts

38       2016-01-01
239      2016-01-02
297      2016-01-02
247      2016-01-02
542      2016-01-03
            ...
11161    2020-12-30
11340    2020-12-30
11683    2020-12-31
11572    2020-12-31
11487    2020-12-31
Name: Start Time, Length: 16382, dtype: object

In [23]:
sts = pd.DataFrame(sts)

In [24]:
sts

       Start Time
38     2016-01-01
239    2016-01-02
297    2016-01-02
247    2016-01-02
542    2016-01-03
...           ...
11161  2020-12-30
11340  2020-12-30
11683  2020-12-31
11572  2020-12-31
11487  2020-12-31

[16382 rows x 1 columns]

In [25]:
from pandas.tools.plotting import autocorrelation_plot
autocorrelation_plot(tdf['frq'])
plt.show()

ModuleNotFoundError: No module named 'pandas.tools'

In [26]:
#1 ==> time series forecasting for trip duration 
tdf = pd.concat(objs =[cdf['freq'],sts], axis = 1)

ValueError: Shape of passed values is (23630, 2), indices imply (16382, 2)

In [ ]:
tdf.dtypes

In [ ]:
tdf['Start Time']=pd.to_datetime(tdf['Start Time'])

In [ ]:
tdf.set_index('Start Time',inplace=True)

In [ ]:
tdf

In [ ]:
def outlier_cap(x):
    x=x.clip(lower=x.quantile(0.01))
    x=x.clip(upper=x.quantile(0.99))
    return(x)

In [ ]:
tdf=tdf.apply(lambda x : outlier_cap(x))

In [ ]:
tdf.plot()

In [ ]:
from statsmodels.tsa.stattools import adfuller

In [ ]:
test_result=adfuller(tdf['freq'])

In [ ]:
def adfuller_test(sales):
    result=adfuller(sales)
    labels = ['ADF Test Statistic','p-value','#Lags Used','Number of Observations Used']
    for value,label in zip(result,labels):
        print(label+' : '+str(value) )
    if result[1] <= 0.05:
        print("strong evidence against the null hypothesis(Ho), reject the null hypothesis. Data has no unit root and is stationary")
    else:
        print("weak evidence against null hypothesis, time series has a unit root, indicating it is non-stationary ")

In [ ]:
adfuller_test(tdf['freq'])

In [ ]:
tdf['Trip First Difference'] = tdf['freq'] - tdf['freq'].shift(1)

In [ ]:
tdf['Seasonal First Difference'] = tdf['freq'] - tdf['freq'].shift(12)

In [ ]:
tdf

In [ ]:
from statsmodels.graphics.tsaplots import plot_acf,plot_pacf

In [ ]:
import statsmodels.api as sm

In [ ]:
fig = plt.figure(figsize=(12,8))
ax1 = fig.add_subplot(211)
fig = sm.graphics.tsa.plot_acf(tdf['Seasonal First Difference'].iloc[13:],lags=40,ax=ax1)
ax2 = fig.add_subplot(212)
fig = sm.graphics.tsa.plot_pacf(tdf['Seasonal First Difference'].iloc[13:],lags=40,ax=ax2)

In [ ]:
from statsmodels.tsa.arima_model import ARIMA

In [ ]:
model=ARIMA(tdf['freq'],order=(1,1,1))
model_fit=model.fit()

In [ ]:
model_fit.summary()

In [ ]:
tdf['forecast']=model_fit.predict(start=90,end=103,dynamic=True)
tdf[['freq','forecast']].plot(figsize=(12,8))

In [ ]:
model=sm.tsa.statespace.SARIMAX(tdf['freq'],order=(1, 1, 1),seasonal_order=(1,1,1,12))
results=model.fit()

In [ ]:
df['forecast']=results.predict(start=90,end=103,dynamic=True)
df[['Sales','forecast']].plot(figsize=(12,8))